body {
    background-color: #201F24;
    padding-top: 100px;
}

.drag-drop-area {
    border: 2px dashed #ccc;
    padding: 50px;
    text-align: center;
    background-color: #f8f9fa;
    cursor: pointer;
}

.drag-drop-area.dragging {
    border-color: #007bff;
    background-color: #e9ecef;
}

/* Sortable ingredients list*/
.sortable-list ul {
    list-style-type: none;
    padding: 0;
}

.sortable-list li {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.sortable-list li .col {
    flex: 1;
    padding: 5px;
}

.sortable-list li .col:first-child {
    width: 40px;
}

.sortable-list li .col:last-child {
    width: 40px;
}

#more {
    display: none;
}

/* .form-control {
    background-color: #201F24;
    color: #e9ecef;
} */

.form-control {
    background-color: #e9ecef;
    color: #e9ecef;
    border: 0px solid;
    border-radius: 20px 20px 20px 20px;
    border-left-width: 0;
}

.form-control:focus {
    background-color: #201F24;
    border-color: #e9ecef;
    outline: none;
}


.input-group .form-control {
    background-color: #201F24;
    color: white;
    border: 2px solid #e9ecef;
}


.input-group-text {
    color: #e9ecef;
    background-color: #201F24;
    border-radius: 20px 0 0 20px;
    border: 2px solid #e9ecef;
    border-right-width: 0;
}



/* 100-900 */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* 100-900 */
.montserrat {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-weight: 900;
    color: #e9ecef;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}


.white-text {
    color: #e9ecef;
}

p {
    font-family: "Inter";
    font-weight: 400;
    color: #e9ecef
}

.image-container {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 20px;
    height: 20px;
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.sticky-top {
    background-color: #201F24;
    /* Adjust to your desired color */
    opacity: 1;
    /* Ensures full opacity */
}

.navbar-color {
    background-color: #61a6ab !important;
}