body {
    background-color: #201F24;
    padding-top: 100px;
}

.drag-drop-area {
    border: 2px dashed #ccc;
    padding: 50px;
    text-align: center;
    background-color: #f8f9fa;
    cursor: pointer;
}

.drag-drop-area.dragging {
    border-color: #007bff;
    background-color: #e9ecef;
}

/* Sortable ingredients list */
.sortable-list ul {
    list-style-type: none;
    padding: 0;
}

.sortable-list li {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.sortable-list li .col {
    flex: 1;
    padding: 5px;
}

.sortable-list li .col:first-child {
    width: 40px;
}

.sortable-list li .col:last-child {
    width: 40px;
}

.form-control {
    background-color: #e9ecef;
    color: #201F24;
    border: 0;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #858586;
}

.form-control:focus {
    background-color: #e9ecef !important;
    border-color: #e9ecef;
    outline: none;
}

.input-group {
    border-radius: 20px;
    overflow: hidden;
}

.input-group .form-control {
    background-color: #e9ecef;
    color: #201F24;
    border: 2px solid #e9ecef;
}

.input-group-text {
    color: #e9ecef;
    background-color: #e9ecef;
    border-radius: 20px 0 0 20px;
    border: 2px solid #e9ecef;
    border-right-width: 0;
}

/* Font styles */
.inter {
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.montserrat {
    font-family: "Montserrat", system-ui;
    font-weight: 800;
}

h2,
h4,
h5,
h6 {
    font-family: 'Montserrat' !important;
    font-weight: 900;
    color: #e9ecef;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900 !important;
    color: #e9ecef !important;


}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.white-text {
    color: #e9ecef;
}

p {
    font-family: "Inter";
    font-weight: 400;
    color: #e9ecef;
}

.image-container {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
}

img.icon-size {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

img.small-size {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-color {
    background-color: #61a6ab !important;
    font-size: 1.25rem;

}

#add-ingredient,
#add-step {
    color: #fa8492;
}

.navbar-nav .nav-link:hover {
    color: #e06f80 !important;
}

#ingredient-quantity {
    width: 80px;
}

#ingredient-measurement {
    width: 80px;
}